environment: qa

hosts:
  - name: nginx
    type: docker-host
    address: nginx
    access:
      docker:
        use_local_socket: true
    services:
      nginx:
        instances:
          - name: reverse-proxy
            runtime: docker
            container: nginx
            conf_paths:
              - /etc/nginx/nginx.conf
            access_log: /var/log/nginx/access.log
            error_log: /var/log/nginx/error.log

  - name: postgres
    type: docker-host
    address: postgres
    access:
      docker:
        use_local_socket: true
    services:
      postgres:
        instances:
          - name: primary-db
            runtime: docker
            container: postgres
            port: 5432
            user: admin
            password: password
            database: testdb

  - name: tomcat
    type: docker-host
    address: tomcat
    access:
      docker:
        use_local_socket: true
    services:
      tomcat:
        instances:
          - name: tomcat-app
            runtime: docker
            container: tomcat
            catalina_home: /usr/local/tomcat

  - name: ubuntu-node
    type: docker-host
    address: ubuntu-node
    access:
      docker:
        use_local_socket: true
    services:
      os:
        instances:
          - name: system
            runtime: docker
            container: ubuntu-node
            metrics: true
            logs:
              - syslog
              - auth.log

  - name: jenkins
    type: docker-host
    address: jenkins
    access:
      docker:
        use_local_socket: true
    services:
      jenkins:
        instances:
          - name: jenkins
            runtime: docker
            container: jenkins

  - name: redis
    type: docker-host
    address: redis
    access:
      docker:
        use_local_socket: true
    services:
      redis:
        instances:
          - name: redis
            runtime: docker
            container: redis